body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

#main {
  max-width:90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lightgrey;
      
}
header { 
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  text-transform: uppercase;
  font-size: 24px;

}
.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);      
  width: 30%;
  padding: 1rem;
  margin: 30px;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  align-items: center;
  height: auto;
  border: 1px ridge grey;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card img {
  width: 200px;
  height: 150px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 10px;
  margin-top: 3rem;
}
.card h2 {
  margin: 0 auto;
  text-align: center;
  padding-top: 0.5rem;
}

.card h4 {
  text-align: left;
}
.line {
  border: 1px ridge grey;
  width: 70%;
  margin-top: 1rem;
}
